server {
	server_name webserv2;
	listen 127.0.0.1:4141;

	root [SERVER_PATH]/www/html;

	allow_methods GET;

	autoindex on;
	index index.html index2.html index.php;

	error_page 404 [SERVER_PATH]/www/html/custom_error_pages/404_server.html;
	error_page 500 [SERVER_PATH]/www/html/custom_error_pages/500_server.html;

	location / {
		allow_methods GET;
		root [SERVER_PATH]/www/html;
	}

	location /js-cookies {
		allow_methods GET ;
		root [SERVER_PATH]/www/html/js-cookies;
		autoindex on;
		error_page 404 [SERVER_PATH]/www/html/custom_error_pages/404_location.html;

	}
	
	location /infinite
	{
		allow_methods GET ;
		root [SERVER_PATH]/www/html/infinite;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		autoindex on;
	}
	

	location /limit_body_size {
		client_body_limit 180;
		allow_methods POST;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		root [SERVER_PATH]/www/html/limit_body_size;
	}

	location /post {
		allow_methods GET POST;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		root [SERVER_PATH]/www/html/post;
	}
	
	location /python-cgi
	{
		allow_methods GET POST;
		cgi_info py /usr/bin/python;
		root [SERVER_PATH]/www/html/python-cgi;
		index index.py;
	}

	location /sessions {
		index index.php;
		allow_methods GET POST;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		root [SERVER_PATH]/www/html/sessions;
	}

	location /cookies {
		allow_methods GET POST;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		root [SERVER_PATH]/www/html/cookies;
		index index.php;
	}

	location /get {
		allow_methods GET;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		root [SERVER_PATH]/www/html/get;
		index index.php;
		autoindex on;
	}

	location /autoindex {
		allow_methods GET;
		root [SERVER_PATH]/www/html/autoindex;
		autoindex on;
	}

	location /autoindex/on {
		allow_methods GET;
		root [SERVER_PATH]/www/html/autoindex/on;
		autoindex on;
	}

	location /autoindex/off {
		allow_methods GET;
		root [SERVER_PATH]/www/html/autoindex/off;
		autoindex off;
	}

	location /static {
		allow_methods GET DELETE POST;
		root [SERVER_PATH]/www/html/static;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		autoindex on;
	}

	location /redirection {
		allow_methods GET;
		root [SERVER_PATH]/www/html/redirection;
		autoindex on;
	}

	location /redirection/redirect_to_google {
		allow_methods GET;
		root [SERVER_PATH]/www/html/redirection/redirect_to_google;
		return 301 https://www.google.com;
	}

	location /redirection/redirect_to_static_location {
		allow_methods GET;
		root [SERVER_PATH]/www/html/redirection/redirect_to_static_location;
		return 301 /static;
	}

	location /cgi_status {
		allow_methods GET;
		root [SERVER_PATH]/www/html/cgi_status;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		autoindex on;
	}

	location /cgi_status/on {
		allow_methods GET;
		root [SERVER_PATH]/www/html/cgi_status/on;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		cgi_status on;
		autoindex on;
	}

	location /cgi_status/off {
		allow_methods GET;
		root [SERVER_PATH]/www/html/cgi_status/off;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		cgi_status off;
		autoindex on;
	}

	location /delete {
		allow_methods GET POST;
		root [SERVER_PATH]/www/html/delete;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		autoindex on;
	}

	location /delete/data {
		allow_methods DELETE GET;
		root [SERVER_PATH]/www/html/delete/data;
		autoindex on;
	}

	location /uploads {
		allow_methods GET;
		root [SERVER_PATH]/www/html/uploads;
		autoindex on;
	}

}
