server {
	server_name webserv1;
	listen 127.0.0.1:4141;

	root [SERVER_PATH]/www/html;

	allow_methods GET;

	autoindex on;
	index index.html index2.html index.php;

	error_page 404 [SERVER_PATH]/www/html/custom_error_pages/404_server.html;
	error_page 500 [SERVER_PATH]/www/html/custom_error_pages/500_server.html;

	location / {
		allow_methods GET;
		root [SERVER_PATH]/www/html;
	}


	location /static {
		allow_methods GET DELETE POST;
		root [SERVER_PATH]/www/html/static;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		autoindex on;
	}

}

server {
	server_name webserv2;
	listen 127.0.0.1:4141;

	root [SERVER_PATH]/www/html;

	allow_methods GET;

	autoindex on;
	index index.html index2.html index.php;

	error_page 404 [SERVER_PATH]/www/html/custom_error_pages/404_server.html;
	error_page 500 [SERVER_PATH]/www/html/custom_error_pages/500_server.html;

	location / {
		allow_methods GET;
		root [SERVER_PATH]/www/html;
	}


	location /static {
		allow_methods GET DELETE POST;
		root [SERVER_PATH]/www/html/static;
		cgi_info php [SERVER_PATH]/config/cgi_binary/php-cgi;
		autoindex on;
	}

}
